<!DOCTYPE html>
<html lang="en">
<body>
    {% block footer %}
    <div class="row">
        <div class="column">
            <h4>Contact</h4>
            <a href="mailto:hello@opencolumbiaco.org">hello@opencolumbiaco.org</a>
        </div>
        <div class="column">
            <h4>Collaborate</h4>
            <button><a href="https://forms.gle/PuizMp6XknYciu1y5" target="_blank">Suggest a Project</a></button>
            <button><a href="https://forms.gle/DPtgDicWJMydUEro6" target="_blank">Help on a Project</a></button>
            <button><a href="https://github.com/Open-Columbia-County" target="_blank">Github</a></button>
        </div>
        <div class="column">
            <h4>Connect</h4>
            <button><a href="https://forms.gle/vqc4Z1ezjPZvjFGg8" target="_blank">Join us</a></button>
            <button><a href="https://www.meetup.com/open-columbia-co/" target="_blank">Meetup</a></button>
            <button><a href="https://www.facebook.com/openColumbiaCounty" target="_blank">FaceBook</a></button>
            <button><a href="https://twitter.com/OpenColumbiaCo" target="_blank">Twitter</a></button>
        </div>
    </div>
    <p>© 2021 Open Columbia County <br> A Code for America Brigade</p>
    {% endblock footer %}
</body>
</html>