{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.thehive-services.com/open-columbia-co/coveredbridge04.jpg">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Open Columbia County</title>
</head>
<body>
    <header>
        <div class="row">
            <img src="https://images.thehive-services.com/open-columbia-co/newbridge.png" alt="Covered Bridge">
            <h1>Open Columbia County</h1>
        </div>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock %}
        </nav>
    </header>
    <main>
        <h1>{{project.name}}</h1>
        {% for status in statuses %}
            {% if project.status_id == status.id %}
                <h3>Current Status of the Project {{status.name}}</h3>
            {% endif %}
        {% endfor %}
        <table>
            <tr>
                <th>Live Link</th>
                <th>Source Code</th>
            </tr>
            <tr>
                <td>
                    {% if project.liveLink %}
                        <a href="{{project.liveLink}}">{{project.liveLink}}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if project.sourceCode %}
                        <a href="{{project.sourceCode}}">{{project.sourceCode}}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
        </table>
        <p>{{project.info}}</p>
    </main>
    <footer>
        {% block footer %} {% include 'footer.html' %} {% endblock %}
    </footer>
</body>
</html>